<div style="position: fixed; left: 40%;">
<header>Configuration Portal</header>
<!-- <mat-form-field  appearance="outline"> -->
<table>
    <tr>
      <td>      
            <mat-label>Service URL</mat-label>
        </td>
      <td>
        <input
          mdbInput
          type="text"
          id="serviceurl"
          class="form-control form-control-lg"
        />
      </td>
    </tr>
    <tr>
      <td>Application Name</td>
      <td>
        <select #selectpicker class="form-control form-control-lg">
          <option>abc</option>
          <option>cdr</option>
          <option>hjj</option>
          <option>hjghj</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Vendor</td>
      <td>
        <select #selectpicker class="form-control form-control-lg">
          <option>Vendor 1</option>
          <option>Vendor 2</option>
          <option>Vendor 3</option>
          <option>Vendor 4</option>
        </select>
      </td>
    </tr>
    <tr>
      <button>Save</button>
  
    </tr>
  </table>
<!-- </mat-form-field> -->
</div>

  