/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add application styles & imports to this file! */

.pdfobject-container {
    max-width: 100%;
    width: 600px;
    height: 600px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    margin: 0;
  }
  .mat-select-content{
    width:2000px !important;
    background-color: red !important;
    font-size: 10px !important;
  } 
  
