<app-toolbar></app-toolbar>
<br/>
<br/>
<div style="position: fixed; left: 40%;">
    <mat-form-field  appearance="outline">
        <mat-label>SSN Number</mat-label>
      <input matInput onlyNumber #inputSsn (keyup)="onKey(inputSsn.value)">
    </mat-form-field>
    <button class="button" style="vertical-align:middle; margin-left: 20px; margin-top: 25px;" (click)="handleClick($event)"><span>Enter </span></button>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<mat-tab-group tabView [style.visibility]="ssnEntered" >
  <mat-tab label="PDF View">
    <ng-template mat-tab-label>
      <mat-icon>description</mat-icon>
      PDF View
    </ng-template> 
    <pdf-viewer
  [src]="src"
  [original-size]="true"
  [render-text]="true"
  [rotation]="0"
  [show-all]="true"
  [fit-to-page]="true"
  [zoom]="1"
  [zoom-scale]="'page-width'"
  [stick-to-page]="true"
  [external-link-target]="'blank'"
  [autoresize]="true"
  [show-borders]="true"
  class="pdf-viewer"
></pdf-viewer>


  </mat-tab>
  <mat-tab label="Details View"> 
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon>
      Details View
    </ng-template> 

  </mat-tab>
</mat-tab-group> 