<app-toolbar></app-toolbar>
<div style="position: fixed; left: 40%; top: 15%;">
    <mat-form-field  appearance="outline">
        <mat-label>SSN Number</mat-label>
      <input matInput  #inputSssn (keyup)="onKey(inputSssn.value)">
    </mat-form-field>
    <button class="button" style="vertical-align:middle; margin-left: 20px; margin-top: 25px;" (click)="handleClick($event)"><span>Enter </span></button>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
</mat-tab-group>